@section Title{About}

    <div class="main-content">
        <div class="container">
            <h2>Meet The Team!</h2>
            <div id="team-window">
                <div id="team-lead">
                    <div class="team-member">
                        <img src="~/images/jmadd.jpg" />
                        <h4>Jessica Weatherly</h4>
                        <h5>"JMadd"</h5>
                        <h5>Project Owner</h5>
                    </div>
                    <div class="team-member">
                        <img src="~/images/chris.jpg" />
                        <h4>Chris Rupp</h4>
                        <h5>"Look at the Vending Machine"</h5>
                        <h5>Scrum Master</h5>
                    </div>
                </div>
                <div id="team-grunts">
                    <div class="team-member">
                        <img src="~/images/joe.jpg" />
                        <h4>Joe Knutson</h4>
                        <h5>"Howdy"</h5>
                        <h5>Developer</h5>
                    </div>
                    <div class="team-member">
                        <img src="~/images/zachary.jpg" />
                        <h4>Zach Hall</h4>
                        <h5>"Mr. CSS"</h5>
                        <h5>Developer</h5>
                    </div>
                    <div class="team-member">
                        <img src="~/images/william.jpg" />
                        <h4>William Terlep</h4>
                        <h5>"Punderful"</h5>
                        <h5>Developer</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>