@section Title{Login}
@model LoginViewModel

    <div class="main-content" style="background: none; box-shadow: none;">
        <div class="container">
            <form asp-controller="Home" asp-action="Login" method="post" id="user-login-form"
                  style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                <div class="form-group">
                    <input asp-for="EmailAddress" type="email" placeholder="Email Address" />
                    <span asp-validation-for="EmailAddress"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Password" type="password" placeholder="Password" />
                    <span asp-validation-for="Password"></span>
                </div>
                <div class="form-group">
                    <span>
                        @Html.ValidationMessage("invalid")
                    </span>
                    <button>Login</button>
                </div>
            </form>
        </div>
    </div>